{{>layouts/header}}

<h1>게시글 상세보기</h1>
{{#article}}
<form class="container" >
    <div class="mb-3">
        <label class="form-label" for="title">제목 {id값 : {{id}}</label>
        <input type="text" value={{title}} class="form-control" id="title" placeholder="name@example.com" name="title" readonly>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">내용</label>
        <textarea class="form-control"  id="exampleFormControlTextarea1" rows="3" name="content" readonly>{{content}}</textarea>
    </div>
</form>
{{/article}}



{{>layouts/footer}}